@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for cute look */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #EFF6FF; 
}
::-webkit-scrollbar-thumb {
  background: #93C5FD; 
  border-radius: 10px;
  border: 3px solid #EFF6FF;
}
::-webkit-scrollbar-thumb:hover {
  background: #60A5FA; 
}

body {
    background-color: #F0F9FF; /* Light blue background */
    overflow-x: hidden;
}
